[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=TEST
icon=/home/pi/Downloads/favicon.ico
Comment=Functional Test Program
Exec=/home/pi/MakeIDfile/MakeIDfile
Terminal=false

Categories=X-Debian-Applications-Editors;

StartupNotify=true
Name[en_GB]=Make_ID
